{% extends "base.html" %}
{% block navigation %}{% endblock %}
{% block content %}

    <div class="container">
        <div class="container-login text-center">
            <div class="col-md-5">
                <div class="product-d">
                    <br>
                    <h2 class="product-name">Вход</h2>
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            Неверный логин или пароль
                        </div>
                    {% endif %}
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="add-to-cart">
                            <div class="qty-label">
                                Почта
                                <input class="input" type="text" name="username">
                                Пароль
                                <input class="input" type="text" name="password">
                            </div>
                            <button class="add-to-cart-btn">Войти</button>
                        </div>
                    </form>
                    <br>
                    <ul class="product-links">
                        <li><a href="{% url 'password_reset' %}">Забыли пароль?</a></li>
                        <li><a href="{% url 'register' %}">Зарегистрироваться</a></li>
                    </ul>
                    <br>
                </div>
            </div>
        </div>
    </div>

{% endblock %}