{% extends "base.html" %}
{% block navigation %}{% endblock %}
{% block content %}

    <div class="container">
        <div class="container-login text-center">
            <div class="col-md-7">
                <div class="product-d">
                    <br>
                    <h2 class="product-name">Сброс пароля</h2>
                    <form method="post">
                        {% csrf_token %}
                        <div class="add-to-cart">
                            <div class="qty-label">
                                Пароль
                                <input class="input" type="text" name="new_password1">
                                {% for error in form.new_password1.errors %}
                                    <div class="alert alert-danger">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                                Подтверждение пароля
                                <input class="input" type="text" name="new_password2">
                                {% for error in form.new_password2.errors %}
                                    <div class="alert alert-danger">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                            <button class="add-to-cart-btn">Установить пароль</button>
                        </div>
                    </form>
                    <br>
                </div>
            </div>
        </div>
    </div>

{% endblock %}