{% extends "base.html" %}
{% block navigation %}{% endblock %}
{% block content %}

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="breadcrumb-header">{{ flatpage.title }}</h3>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-10">
                <!-- Billing Details -->
                <div class="billing-details">
                    <h3>Связь с нами</h3>
                    <p>Вы всегда сможете получить техническую поддержку и консультацию по ассортименту наших товаров
                        следующими способами:</p>
                    <p>По телефону: +7-999-888-77-66</p>
                    <p>По электронной почте: info@imagic.shop</p>
                    <p>В социальных сетях:</p>
                    <p>В Контакте: imagic_shop44</p>
                    <p>Телеграм: @imagic_shop44</p>

                    <h3>График работы</h3>
                    <p>Друзья, мы работаем для вас ежедневно с 10:00 до 20:00.</p>
                    <p>В субботу, воскресенье и в праздничные дни с 10:00 до 20:00.</p>
                    <p>График работы пункта самовывоза (шоурума): Ежедневно с 11:00 до 20:00.</p>

                    <h3>Адрес</h3>
                    <p>Кострома, улица Магистральная, дом 20, ТРЦ РИО, 2 этаж.</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}