{% extends "base.html" %}
{% block navigation %}{% endblock %}
{% block content %}

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="breadcrumb-header">{{ flatpage.title }}</h3>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-10">
                <!-- Billing Details -->
                <div class="billing-details">
                    <h3>По Костроме и Костромской области</h3>
                    <p>Стоимость курьерской доставки в пределах Костромы и Костромской области – 500 руб. Доставка
                        осуществляется с 10:00 до 23:00
                        в день заказа или на следующий день, в зависимости от загруженности курьерской службы.</p>

                    <h3>По России</h3>
                    <p>Доставка в города России осуществляется курьерской службой СДЭК. Стоимость доставки курьерской
                        службой – 1000 руб.</p>

                    <h3>Самовывоз</h3>
                    <p>Самовывоз из магазина – бесплатно. Заказанный товар резервируется на два дня с момента
                        подтверждения заказа. В случае проведения акции – на один день (в отдельных случаях бронь
                        невозможна, уточняйте у менеджера). По прошествии данного срока заказ аннулируется.
                    <p>Наш магазин располагается по адресу: Кострома, улица Магистральная, дом 20, ТРЦ РИО, 2 этаж.</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}