{% extends "base.html" %}
{% block navigation %}{% endblock %}
{% block content %}

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="breadcrumb-header">{{ flatpage.title }}</h3>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-10">
                <!-- Billing Details -->
                <div class="billing-details">
                    <h3>Наличный расчет</h3>
                    <p>Для выбора оплаты наличным расчётом, нужно выбрать данный пункт при оформлении заказа. Оплата
                        наличными возможна как при курьерской доставкой, так и при получении заказа в магазине.</p>

                    <h3>Банковской картой при получении</h3>
                    <p>Оплатить заказ банковской картой (VISA, MasterCard, Maestro и МИР) так же можно и во время
                        получения заказа. При выборе курьерской доставки по Костроме или самовывозе из нашего магазина.
                        При
                        оплате банковской картой, для защиты клиентов от мошенничества, нам придётся проверить вашу
                        личность. Для этого понадобится документ, подтверждающий вашу личность. Также мы просим не
                        передавать банковские карты для оплаты другим людям. Спасибо за ваш заказ и понимание!</p>

                    <h3>Банковскими картами онлайн</h3>
                    <b>К сожалению, в данный момент по техническим причинам, онлайн оплата картами недоступна =(</b>
                    <p>Оплатить заказ онлайн можно с помощью банковских карт: МИР, Maestro, Visa и MasterCard. Вы
                        можете оплатить свой заказ онлайн на сайте, после его обработки и подтверждения менеджером.
                        После подтверждения вы получите ссылку для оплаты. Выберите способ оплаты и перейдите на сайт
                        сервиса для оплаты.</p>

                    <p>Если в какой-то момент вы столкнулись с технической проблемой или сложностью, пожалуйста,
                        обратитесь к нашим менеджерам, они с радостью помогут вам.</p>

                    <p><b>Подтверждение оплаты</b></p>

                    <p>Чтобы защитить наших клиентов от мошенничества, мы требуем, чтобы получение товара осуществлял
                        только держатель карты. Когда вы забираете свой товар, обязательно возьмите с собой карту,
                        которой была произведена оплата, и документ, подтверждающий вашу личность. Это поможет нам
                        гарантировать безопасность всех наших покупателей.</p>

                    <p><b>Возврат денег при онлайн оплате</b></p>

                    <p>Чтобы получить полный или частичный возврат денежных средств на вашу карту, просто свяжитесь с
                        нами. Возврат денежных средств производится строго на ту же банковскую карту (счет), с которой
                        производилась оплата. Обратите внимание, что точный срок возврата зависит от времени, прошедшего
                        с момента размещения заказа, а также от банка, выпустившего вашу карту. Максимальный срок
                        возврата не превышает 30 дней.</p>

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}